<ion-header>
  <ion-toolbar>
   <ion-buttons slot="start"><ion-back-button [defaultHref]="['/home']"></ion-back-button></ion-buttons>
    <ion-title>Mi Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Mi Cuenta</ion-card-subtitle>
      <ion-card-title>Total</ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <div *ngFor="let cu of cuenta">
      <h1 class="ion-text-center">{{ cu.sou }} €</h1>
    </div>   
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar padding>
  </ion-toolbar>
</ion-footer>